<app-gauge
  title="Ventas"
  unit="$us"
  [uid]="'uid'"
  min="0"
  max="100"
  pointer_color="red"
  pointer_type="type9"
  threshold="50"
  led_color="green"
  type="type4"
  [led_color_visible]="true"
  [sections]="sections"
  [areas]="areas"
  [value]="55">
</app-gauge>

<app-gauge
  title="Ventas"
  unit="$us"
  [uid]="'uid2'"
  min="0"
  max="100"
  pointer_color="red"
  [led_color_visible]="true"
  pointer_type="type9"
  threshold="70"
  led_color="green"
  type="type4"
  [sections]="sections"
  [areas]="areas"
  [value]="95">
</app-gauge>
